[Unit] 
Description= Mongo to MySQL service 
ConditionPathExists=/root/smartservices/schedular1.py 
After=network.target 

[Service] 
Type=simple 
LimitNOFILE=1024 
Restart=on-failure 
RestartSec=10 
StartLimitInterval=0 
WorkingDirectory=/root/
ExecStart= /usr/bin/sudo python3 /root/smartservices/schedular1.py

# make sure log directory exists and owned by syslog
PermissionsStartOnly=true 
ExecStartPre=/bin/mkdir -p /var/log\m3s 
StandardOutput=syslog 
StandardError=syslog 
SyslogIdentifier=energymeter 

[Install] 
WantedBy=multi-user.target
